html,
body {
    font-family: Boo;
    background: #212121;
    height: 100%;
    margin: 0;
}

@font-face {
   font-family: Boo;
   src: url('assets/cascadia.otf') format('opentype');;
}

.container {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
   font-size: 20px;
   color: #fafafa;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   text-align: center;
}

.dud {
    color: #757575;
}
